.git
.gitignore

.idea
.vscode

.venv
venv

__pycache__
*.py[cod]
*$py.class

.env
.env.*

.pytest_cache
.coverage
htmlcov

staticfiles
media

celerybeat-schedule
celerybeat.pid

*.log

docs

# Docker
Dockerfile*
compose*.yaml

# OS
.DS_Store
Thumbs.db