# ======================================================
# Django
# ======================================================

# Generate your own secret key
SECRET_KEY='your-secret-key'

# True for development, False for production
DEBUG=True


# ======================================================
# PostgreSQL
# ======================================================

PG_HOST=localhost
PG_PORT=5432
PG_NAME=shop_epower
PG_USER=shop_epower
PG_PASS=your-password


# ======================================================
# JWT
# ======================================================

JWT_ALGORITHM=HS256
ACCESS_TOKEN_LIFETIME_MINUTES=15
REFRESH_TOKEN_LIFETIME_MINUTES=43200


# ======================================================
# Shop settings
# ======================================================

SHOP_BASE_CURRENCY=BYN


# ======================================================
# Celery / Redis
# ======================================================

CELERY_BROKER_URL=redis://127.0.0.1:6379/2
CELERY_RESULT_BACKEND=redis://127.0.0.1:6379/3

# ======================================================
# Local development configuration
# Copy this file to .env and adjust values if necessary.
# ======================================================