{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    Login
{% endblock %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-md-6">

        <div class="card shadow-sm">

            <div class="card-body">

                <h3 class="mb-4">
                    Login
                </h3>

                <form method="post">

                    {% csrf_token %}

                    {% if next %}
                        <input
                            type="hidden"
                            name="next"
                            value="{{ next }}"
                        >
                    {% endif %}

                    {{ form|crispy }}

                    <button type="submit"
                            class="btn btn-dark w-100">

                        Login

                    </button>

                <a href="{% url 'accounts:password_reset' %}">
                        Forgot your password?
                </a>

                    <div class="mt-3 text-center">

                        <span>
                            Don't have an account?
                        </span>

                        <a href="{% url 'accounts:register' %}{% if next %}?next={{ next|urlencode }}{% endif %}">
                            Register
                        </a>

                    </div>

                </form>

            </div>

        </div>

    </div>

</div>

{% endblock %}