{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    Вход
{% endblock %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-md-6">

        <div class="card shadow-sm">

            <div class="card-body">

                <h3 class="mb-4">
                    Вход
                </h3>

                <form method="post">

                    {% csrf_token %}

                    {{ form|crispy }}

                    <button type="submit"
                            class="btn btn-dark w-100">

                        Войти

                    </button>

                <a href="{% url 'password_reset' %}">
                        Забыли пароль?
                </a>

                </form>

            </div>

        </div>

    </div>

</div>

{% endblock %}