{% extends "base.html" %}

{% block content %}
<h1>Cart</h1>

<form
    method="post"
    action="{% url 'cart-clear' %}"
    class="mb-3"
>
    {% csrf_token %}

    <button type="submit" class="btn btn-warning">
        Clear cart
    </button>
</form>

<p>Total quantity: {{ cart_total_quantity }}</p>
<p>Total price: {{ cart_total_price }} BYN</p>

<ul>
    {% for item in cart_items %}
        <li class="mb-2">
        {{ item.product.name }}
        —
        <div style="display:inline-flex; align-items:center; gap:5px;">

    <!-- MINUS -->
    <form
        method="post"
        action="{% url 'cart-remove' item.product.id %}"
        style="display:inline;"
    >
        {% csrf_token %}
        <input type="hidden" name="quantity" value="1">
        <button type="submit" class="btn btn-sm btn-outline-danger">
            -
        </button>
    </form>

    <span>{{ item.quantity }}</span>

    <!-- PLUS -->
    <form
        method="post"
        action="{% url 'cart-add' item.product.id %}"
        style="display:inline;"
    >
        {% csrf_token %}
        <input type="hidden" name="quantity" value="1">
        <button type="submit" class="btn btn-sm btn-outline-success">
            +
        </button>
    </form>

</div>
        —
        {{ item.price_snapshot }} {{ item.currency_snapshot }}
        —
        total: {{ item.total_price }} {{ item.currency_snapshot }}

        <form
            method="post"
            action="{% url 'cart-remove' item.product.id %}"
            style="display:inline;"
        >
            {% csrf_token %}
            <button type="submit" class="btn btn-sm btn-danger">
                Remove
            </button>
        </form>
    </li>
    {% empty %}
        <li>Cart is empty</li>
    {% endfor %}
</ul>


{% if cart_items %}
    <hr>

    <h3>Checkout</h3>

        <form method="post" action="{% url 'orders:checkout' %}">
            {% csrf_token %}

            <div class="mb-3">
                <label class="form-label">
                    Delivery method
                </label>

                <select
                    name="delivery_method"
                    class="form-select"
                >
                    <option value="pickup">
                        Pickup
                    </option>

                    <option value="shipping">
                        Shipping
                    </option>
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label">
                    Delivery provider
                </label>

                <select
                    name="delivery_provider"
                    class="form-select"
                >
                    <option value="">
                        ---------
                    </option>

                    <option value="post">
                        Post
                    </option>

                    <option value="transport_company">
                        Transport company
                    </option>

                    <option value="other">
                        Other
                    </option>
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label">
                    Delivery address
                </label>

                <textarea
                    name="delivery_address"
                    class="form-control"
                    rows="3"></textarea>
            </div>

            <div class="mb-3">
                <label class="form-label">
                    Delivery comment
                </label>

                <textarea
                    name="delivery_comment"
                    class="form-control"
                    rows="3"></textarea>
            </div>

            <button type="submit" class="btn btn-primary">
                Place Order
            </button>
        </form>
    {% endif %}

{% endblock %}